
<!-- ********************** 1st row ************************************ -->
<amexio-row>
    <amexio-column size="8" style="padding-top:7%">
    


           <amexio-row>
               <amexio-column size="12"align="center">
                  
               </amexio-column>
               
           </amexio-row>
           <amexio-row>
        <amexio-column style="background-color:blue;color:white"  align="center"  size="12">No Search Exists!!</amexio-column>
</amexio-row>
    

<amexio-row >
        <amexio-column size="12" style="padding-top:90%">
<amexio-label size=""style="padding-top:5%">“Disclaimer: The information displayed on My Account is only for information sake and are updates to the customer as received from the Insurer and Policybazaar shall not be liable and/or responsible for the accuracy, completeness, legality, or reliability of the information contained in this My Account section.”</amexio-label>
</amexio-column>
</amexio-row> 


                       
    </amexio-column>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 2nd coloumn size 4~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <amexio-column size="4" style="padding-top:7%">
    
            <amexio-card >
                    <amexio-body>
                            <amexio-row>
                                    <amexio-column size="1"></amexio-column>
                                    <amexio-column size="10">
                                        
                            <amexio-image path="assets/images/images/mypolicy1.png"></amexio-image>
                                       
                                                <amexio-button [label]="'Show Details'"[block]=true  [icon]="'fa fa-caret-square-o-right'"[type]="'warning'"></amexio-button>
                     
                                     
                                            </amexio-column>
                                            <amexio-column size="1"></amexio-column>
                                        </amexio-row>
                              </amexio-body>
    
                </amexio-card>
            <amexio-card >
                    <amexio-body>
                            <amexio-row>
                                    <amexio-column size="1"></amexio-column>
                                    <amexio-column size="10">
                                     
       <amexio-image path="assets/images/images/d.png"></amexio-image>

                     </amexio-column>
                    <amexio-column size="1"></amexio-column>
                    </amexio-row>
                 
         </amexio-body>

   </amexio-card>
    
      
    </amexio-column>
    
    
    
    </amexio-row>